apiVersion: apps/v1
kind: Deployment
metadata:
   name: wisecow-deployment
spec:
   replicas: 1
   selector:
      matchLabels:
         app: wisecow
   template:
      spec:
         containers:
            - name: wisecow
              image: kevinjoehar/wisecow
              ports:
                - containerPort: 4499
